body{
	font-family: comic sans ms;
	overflow-y: scroll;
	counter-reset: section;
}

#root{
	overflow: auto;
	min-height: 100vh;	
}

.header{
	float: left;
	width: 100%;
	padding: 20px 0;
	margin-top: 200px;
}

.frontend-header{
	float: left;
	width: 100%;
	min-height: 100vh;
	position: relative;	
	z-index: 2;
	background: url(../images/welcome_banner.jpg) center center no-repeat;
	background-size: cover;
}

.frontend-header:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background-color: rgba(51,51,51,0.7);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.frontend-header h2{
	color: #fff;
	padding: 30px 0;
	text-align: center;
	margin: 0;
	font: bold 30px/70px comic sans ms;
	text-transform: uppercase;
	margin-top: 150px;
	letter-spacing: 3px;    
}


.frontend-header h2 span{
	color: rgb(144, 205, 26);
	font-size: 70px;
	width: 100%;
	display: inline-block;
	text-transform: capitalize;
}

.linking-button{
	float: left;
	width: 100%;
	margin: 30px 0;
	text-align: center;
} 

.linking-button a{
	padding: 10px 50px;
	font: bold 20px comic sans ms;
	color: #fff;
	border: solid 2px #fff;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.listPage .linking-button a{
	padding: 10px 20px;
	font: bold 16px comic sans ms;
}

.listPage .top_header h1{
	padding-top: 35px;
}

.linking-button a:hover{
	text-decoration: none;
	opacity: 0.8;
	text-decoration: none;
	color: rgb(144, 205, 26);
	border-color: rgb(144, 205, 26);
}

.top_header{
	float: left;
	width: 100%;
	text-align: center;
}

.top_header h1{
	color: #fff;
	font-size: 50px;
}

.top_header_add{
	margin-top: 10px;
}

.container_out{
	float: left;
	width: 100%;
	min-height: 100vh;
	background: url(../images/page_background.png) no-repeat;
	background-attachment: fixed;
}

.top_header_add{
	margin: 10px 0;
	float: left;
	width: 100%;
}

.top_header_add .linking-button{
	text-align: right;
}

.top_header h2{
	margin: 60px 0 10px;
}

.container_out *{
	color: #fff;
}

.content_inner{
	float: left;
	width: 100%;
	margin: 30px 0 30px;
}

.form_content label{
	margin: 0 0 20px;
	width: 100%;
}

.form_content label span{
	float: left;
	width: 100%;
	font: 20px comic sans ms;
	text-align: left;
}

.form_content{
	text-align: left;
	width: 400px;
	margin: 60px auto 0;
}

.form_content label input[type="text"]{
	float: none;
	width: 100% !important;
	font: 20px comic sans ms;
	background: none;
	border: solid 2px comic sans ms;
	display: inline-block;
	margin-top: 10px;
	width: 50%;
	padding: 10px;
	display: inline-block;
	height: auto;
	text-align: left;
	border: 0px solid #fff;
	border-bottom-width: 1px;
	border-radius: 0;
}

.form_content input[type="submit"],.dangerBtn{
	float: none;
	font: 20px comic sans ms;
	background: none;
	border: solid 2px #fff;
	padding: 8px 30px;
	display: inline-block;
	width: 150px;
	margin-top: 20px;
}

.dangerBtn,.dangerBtn:hover,.dangerBtn:focus{
	border-color:#f00;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	color: #f00;
}

.serialnumber::before{
	counter-increment: section;
    content: counter(section);
}
.container_out table{
	background: rgba(0,0,0,0.7);
}

.container_out table tr td{
	padding: 10px;
}

.container_out table thead tr td{
	font: 20px comic sans ms;
	color: rgb(144, 205, 26);
}

.form_content input[type="submit"]:hover{
	background: none;
	opacity: 0.8;
}

.editIcon,.trashIcon{
	background: url("../images/edit-white.png") center no-repeat;
	width: 32px;
	height: 32px;
	border: 0;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.editIcon:hover,.editIcon:focus,.editIcon:active,.editIcon.active{
	background-color: transparent !important;
	outline: 0;
	background: transparent url("../images/edit-white.png") center no-repeat ;
}

.trashIcon:hover,.trashIcon:focus,.trashIcon:active,.trashIcon.active{
	background-color: transparent !important;
	outline: 0;
	border: 0;
	background: transparent url("../images/trash-white.png") center no-repeat ;
}

.trashIcon{
	background: url("../images/trash-white.png") center no-repeat;
}

.table>tbody>tr>td{
	font-size: 17px;
}

.send_content{
	display: inline-block;
	width: 100%;
	margin: 0 0 20px;
	border: solid 1px #fff;
	padding: 20px;
	border-radius: 5px;
}

.receive_content{
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	border: solid 1px #fff;
	padding: 20px;
	border-radius: 5px;
}

.send_content h3,.receive_content h3{
	text-align: center;
	margin: 0 0 20px;
	color: rgb(144, 205, 26);

}

.container_new{
	width: 600px;
	margin: 0 auto;
}

.send_content span,.receive_content span{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	margin: 0 0 10px;
	font-weight: normal;
}

.send_content input[type="text"]{
	float: none;
	width: 100% !important;
	font: 20px comic sans ms;
	background: none;
	border: none;
	border-bottom: solid 1px #FFF;
	display: inline-block;
	width: 50%;
	padding: 10px;
	display: inline-block;
	height: auto;
	text-align: left;
	box-shadow: none;
	border-radius: 0;
	margin: 0 0 15px;
}

.send_content input[type="button"],.receive_content input[type="button"]{
	float: none;
	font: 20px comic sans ms;
	background: none;
	border: solid 1px #FFF;
	display: inline-block;
	width: auto;
	padding: 10px 30px;
	display: inline-block;
	height: auto;
	text-align: center;
	box-shadow: none;
	border-radius: 5px;
}

.receive_content p{
	border: none;
	padding: 10px;
	border-radius: 5px;
	margin: 20px 0 0;
	position: relative;
	min-height: 50px;
	background: rgba(255,255,255,0.6);
	color: #000;
	font-size: 20px;
}

.receive_content p:before{
	content: "";
	width: 0;
	height: 0;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
	border-bottom: solid 15px rgba(255,255,255,0.6);
	position: absolute;
	left: 50%;
	top: -15px;
	margin-left: -14px;
}

.send_content input[type="button"]:hover,.receive_content input[type="button"]:hover{
	opacity: 0.8;
}

.send_content label{
	width: 100%;
}


.header_link{
	position: absolute;
	left: 30px;
	top: 30px;
}

.header_link a{
	margin-right: 20px;
}

.header_link a:hover{
	opacity: 0.8;
}

.validationMsg{
	color:#f00;
	font-size: 15px !important;
	margin-top:5px;
}